.App {
  text-align: center;
  /* background-color: #f2f2f2; */
  /* overflow-x: hidden; */
/* grid-template-columns: minmax(18rem, 21vw) 4fr; */
/* max-width: 75vw; */
/* display: grid; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.controlled-input {
    width: 15rem;
}

body {
    
}

#root {
    background-color: aqua;
}
.color {
    background-color: rgb(105,
            66,
            245);
}

.main {
    height: 100vh;
}

.main-board {
    /* max-width: 75vw; */
} 

.main-board-header {
    /* min-width: ;
    width: 73vw; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
